aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
astroid==4.0.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.4.0
Authlib==1.6.5
Automat==25.4.16
awscli==1.42.65
babel==2.17.0
backports-datetime-fromisoformat==2.0.3
backports.tarfile==1.2.0
bcrypt==3.2.0
billiard==4.2.2
black==25.9.0
blinker==1.9.0
boto3==1.40.65
botocore==1.40.65
build==1.3.0
celery==5.5.3
certifi==2025.10.5
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloud-init==25.2
cloudpickle==3.1.2
colorama==0.4.6
command-not-found==0.3
configobj==5.0.9
constantly==23.10.4
cryptography==46.0.3
dask==2025.10.0
dbus-python==1.2.18
decorator==5.2.1
devscripts===2.22.1ubuntu1
dill==0.4.0
distlib==0.4.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.19
dparse==0.6.4
ec2-hibinit-agent==1.0.0
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.121.0
filelock==3.20.0
Flask==3.1.2
frozenlist==1.8.0
fsspec==2025.10.0
gpg==1.16.0
greenlet==3.2.4
h11==0.16.0
hf-xet==1.2.0
hibagent==1.0.1
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
huggingface-hub==0.36.0
hyperlink==21.0.0
id==1.5.0
idna==3.11
importlib_metadata==8.7.0
incremental==24.7.2
iniconfig==2.3.0
ipython==8.37.0
isort==7.0.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==25.6.0
kombu==5.5.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
locket==1.0.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.1.0
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.0.3
multidict==6.7.0
mypy==1.18.2
mypy_extensions==1.1.0
netifaces==0.11.0
nh3==0.3.2
nltk==3.9.2
numpy==2.2.6
nvidia-ml-py==13.580.82
oauthlib==3.3.1
packaging==25.0
parso==0.8.5
partd==1.4.2
pathspec==0.12.1
pbr==7.0.3
pexpect==4.9.0
pillow==12.0.0
pip-tools==7.5.1
pipdeptree==2.29.0
pipenv==2025.0.4
platformdirs==4.5.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.1.3
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1-modules==0.2.1
pycairo==1.28.0
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.10.1
pylint==4.0.2
pynvim==0.4.2
pyOpenSSL==25.3.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
pyrsistent==0.18.1
pyserial==3.5
pytest==8.4.2
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-magic==0.4.24
pytokens==0.2.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
readme_renderer==43.0
redis==7.0.1
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
rsa==4.7.2
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
s3transfer==0.14.0
safetensors==0.6.2
safety-schemas==0.0.16
SecretStorage==3.4.0
service-identity==18.1.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sos==4.9.2
SQLAlchemy==2.0.44
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.49.3
systemd-python==234
tenacity==9.1.2
testresources==2.0.2
tokenizers==0.22.1
tomli==2.3.0
tomlkit==0.13.3
toolz==1.1.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
twine==6.2.0
Twisted==25.5.0
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
unidiff==0.5.5
urllib3==2.5.0
vine==5.1.0
virtualenv==20.35.4
wadllib==1.3.6
wcwidth==0.2.14
Werkzeug==3.1.3
xdg==5
yapf==0.43.0
yarl==1.22.0
zipp==3.23.0
zope.interface==5.4.0
